//color back-ground
$bgColors:(
    'primary':#fff,
    'secondary':#efefef,
);

//color text
$colorText:(
'textPrimary': #000,
'textSecondary': #fa5238,
'textGrey': #9b9b9b,);

//font size
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;

//font weight
$fwbold: 700;
$fwmedium: 400;
$fwlight: 300;

//spacing
$spacing: 10px;